<div class="row" ng-controller="gridMakerMainCtrl">
        <div class="col-md-4">
            <div class="box box-solid ">
                <div class="box-body">

                    <label for="gridName">Grid定义</label>
                    <input class="form-control" type="text" placeholder="输入GridName"  id="gridName" ng-model="grid_name" style="margin-bottom: 5px;">
                    <a  class="btn btn-success btn-block {{QueryDisable}}" ng-click="queryGridDef()">查询</a>
                    <a  class="btn btn-warning btn-block {{NewDisable}}" ng-click="createGridDef()" >新建</a>
                    <a  class="btn btn-primary btn-block {{SaveDisable}}" ng-click="saveGridDef()" >保存</a>
                    <a  class="btn btn-info btn-block {{newSaveDisable}}" ng>另存</a>
                </div>
            </div>
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">创建Grid</h3>
                    <div class="box-tools">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>

                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a   ng-click="toSub1()"><i class="fa fa-inbox"></i> 列定义</a></li>
                        <li><a   ng-click="toSub2()"><i class="fa fa-envelope-o"></i> 对象预览</a></li>
                        <li><a   ng-click="toSub3()"><i class="fa fa-file-text-o"></i> Grid效果预览</a></li>
                    </ul>
                </div><!-- /.box-body -->
            </div><!-- /. box -->
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">详细设置</h3>
                    <div class="box-tools">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body no-padding" ui-view="gridMakerColDetailView">

                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Grid列定义</h3>
                </div><!-- /.box-header -->

                <div class="box-body no-padding" ui-view="gridMakerView">

                </div><!-- /.box-body -->
            </div><!-- /. box -->
        </div><!-- /.col -->
    </div><!-- /.row -->