<div class="container-fluid" ng-controller="gridPage1Ctrl">



<div class="row">


    <div class="col-lg-2   " style="padding-left: 0px;">
        <input class="form-control" type="text" placeholder="根据cellphone名称查询" ng-model="phonename">
    </div>

    <div class="col-lg-1" >
        <button class="btn   btn-success" ng-click="query()" style="width: 100%;"> 查询
        </button>
    </div>

    <div class="col-lg-2">
        <button class="btn   btn-warning" ng-click="addItem()" style="width: 100%;"> 新增</button>
    </div>
    <div class="col-lg-2" style="padding-left: 0px;">
        <button class="btn   btn-danger" ng-click="deleteSelectedItems()"
                style="width: 100%;padding-left: 0px;"> 删除选中行
        </button>
    </div>

    <div class="col-lg-2">
        <button class="btn btn-default" ng-click="showUpdates()" style="width: 100%;"> 显示changes
        </button>
    </div>

    <div class="col-lg-2">
        <button class="btn btn-default" ng-click="save()" style="width: 100%;">保存修改</button>
    </div>



</div>
    <!--
<div class="row" style="padding-top: 5px;">


  <div class="col-lg-1 col-lg-offset-1">
      <button class="btn   btn-danger" ng-click="deleteAllItems()" style="width: 100%;"> deleteAll </button>
  </div>
  <div class="col-lg-1">
      <button class="btn   btn-warning" ng-click="updateItem()" style="width: 100%;"> update</button>
  </div>


  <div class="col-lg-2">
      <button class="btn   btn-danger" ng-click="deleteItem()" style="width: 100%;"> deleteByIndex</button>
  </div>


  <div class="col-lg-2">
      <button class="btn btn-default" ng-click="query()" style="width: 100%;"> ExportExcel</button>
  </div>
      <div class="col-lg-2">
      <button class="btn btn-default" ng-click="showUpdates()" style="width: 100%;"> show Changed items
      </button>
  </div>
</div>
-->

<div class="row" style="padding-top: 5px;">
    <div class="col-lg-12"  style="padding-left: 0px;padding-right: 0px;">
        <ng-whh-grid option="gridOption1"  ></ng-whh-grid>
    </div>
</div>

<div class="row">
    <div class="col-lg-12" >
        <hr>
        <span id="changes"></span>
    </div>
</div>




</div>
