<div class="container-fluid" ng-controller="gridPage5Ctrl">

    <div class="row" style="padding-top: 5px;">

        <div class="col-lg-2" style="padding-left: 0px;">
            <button class="btn btn-default" ng-click="exportExcel()" style="width: 100%;"> 导出Excel</button>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-default" ng-click="deleteAllItems()" style="width: 100%;"> 清空数据 </button>
        </div>
        <div class="col-lg-4">
            <ng-whh-file-upload-ori option="fileUploadOption"></ng-whh-file-upload-ori>
        </div>
    </div>

<!--


    <div class="row" style="padding-top: 5px;">
        <div class="col-lg-3">
            <div class="form-group">
                <label for="exampleInputFile">Excel 导入</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">只允许选择*.xls文件</p>
            </div>
        </div>
    </div>
-->

    <div class="row" style="padding-top: 5px;padding-left: 0px;">
        <div class="col-lg-12"  style="padding-left: 0px;padding-right: 0px;">
            <ng-whh-grid option="gridOption1"  ></ng-whh-grid>
        </div>
    </div>

</div>
