<!-- 在这里写定义  以后就在这里做ui-view -->
<div style="padding: 5px;" ng-controller="GridMakerColStringCtrl">

    <ul class="nav nav-pills nav-stacked" ng-mousemove="move()">

        <li>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="GridMakerColStringCtrlCache.wz_hidden">不可见  <!--  -->
                    </label>
                    <label>
                        <input type="checkbox" ng-model="GridMakerColStringCtrlCache.wz_editable">可编辑  <!-- editable -->
                    </label>
                </div>
            </div>
        </li>
        <li>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="GridMakerColStringCtrlCache.wz_required">必填<!--validation-->
                    </label>
                </div>
            </div>
        </li>
        <li>
            <div class="form-group">
                <label for="colWidth">宽度</label>
                <input type="text" class="form-control" id="colWidth" placeholder="宽度" ng-model="GridMakerColStringCtrlCache.wz_width">
            </div>
        </li>

    </ul>


</div>