<!-- 在这里写定义  以后就在这里做ui-view -->
<div ng-controller="GridMakerSub1Ctrl" style="padding: 5px;" >


    <ul class="nav nav-pills nav-stacked" ng-mousemove="move()">

<!--
        <li>

            <div class="row" >
                <div class="col-md-3">
                    <input  class="form-control" type="text" placeholder="输入GridName"  id="gridName" ng-model="grid_name" style="margin-bottom: 5px;">
                </div>
                <div class="col-md-2">
                    <a  class="btn btn-success btn-block {{QueryDisable}}" ng-click="queryGridDef()">查询</a>
                </div>
                <div class="col-md-2">
                    <a  class="btn btn-warning btn-block {{NewDisable}}" ng-click="createGridDef()" >新建</a>
                </div>
                <div class="col-md-2">
                    <a  class="btn btn-primary btn-block {{SaveDisable}}" ng-click="saveGridDef()" >保存</a>
                </div>
                <div class="col-md-2">
                    <a  class="btn btn-info btn-block {{newSaveDisable}}" ng-click="saveGridDef()" >另存</a>
                </div>


            </div>

        </li>
-->

        <li>

            <div class="row" style="padding-left: 0px;">
                <div class="col-md-2">
                    <a class="btn btn-danger btn-block {{addItemDisable}}" ng-click="addItem()"> 新增列</a>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-danger btn-block {{deleteSelectedItemsDisable}}" ng-click="deleteSelectedItems()"> 删除列</a>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-info btn-block" ng-click="toUp()"> 上移</button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-info btn-block" ng-click="toDown()"> 下移</button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-info btn-block" ng-click="getSelectItem()"> getSelectItem</button>
                </div>
            </div>
        </li>

        <li>
            <div class="row">
                <div class="col-md-12">
                    <ng-whh-grid option="CreatingGridOption"></ng-whh-grid>
                </div>
            </div>
        </li>
        <li>
            <div class="form-group">

                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="editable" ng-model="GridMakerSub1CtrlCache.wz_editable">可编辑
                    </label>
                    <label>
                        <input type="checkbox" id="selectCheckBox" ng-model="GridMakerSub1CtrlCache.wz_selectCheckBox">使用勾选框
                    </label>
                    <label>
                        <input type="checkbox" id="pageable" ng-model="GridMakerSub1CtrlCache.wz_pageable">分页
                    </label>
                    <!--
                         <label style="visibility: hidden">
                        <input type="checkbox" id="groupable" ng-model="GridMakerSub1CtrlCache.wz_groupable" >分类汇总功能
                    </label>
                    -->
                    <label>
                        <input type="checkbox" id="sortable" ng-model="GridMakerSub1CtrlCache.wz_sortable">排序
                    </label>
                    <label>
                        <input type="checkbox" id="reorderable" ng-model="GridMakerSub1CtrlCache.wz_reorderable">列拖拽
                    </label>
                    <label>
                        <input type="checkbox" id="resizable" ng-model="GridMakerSub1CtrlCache.wz_resizable">列宽可调
                    </label>

                    <label>
                        <input type="radio"   ng-model="GridMakerSub1CtrlCache.wz_selectable" value="multiple row">
                        多行选择
                    </label>
                    <label>
                        <input type="radio"   ng-model="GridMakerSub1CtrlCache.wz_selectable" value="row"  checked="" >
                        单行选择
                    </label>
                </div>

            </div>
            <div class="form-group col-md-6" >
                <label for="height">Grid标题</label>
                <input type="text" class="form-control" id="title"  ng-model="GridMakerSub1CtrlCache.wz_title" placeholder="Grid的标题">




            </div>
            <div class="form-group col-md-3" >
                <label for="height">height</label>
                <input type="text" class="form-control" id="height"  ng-model="GridMakerSub1CtrlCache.wz_height" placeholder="高度">

            </div>
            <div class="form-group col-md-3" >
                <label for="pageSize">pageSize</label>
                <input type="text" class="form-control" id="pageSize" ng-model="GridMakerSub1CtrlCache.wz_pageSize" placeholder="每页item数量  使用勾选框将会禁用分页">
            </div>


        </li>
    </ul>


</div>